*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  color: #fff;
    font-family: "Fira Sans Condensed", Verdana, Geneva, Tahoma, sans-serif;

  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}
.content {
  display: grid;
  grid-template-columns: 711px 399px;
  place-items: end;
  gap: 30px;
  height: 534px;
  inline-size: 1140px;
  margin: 0;
  padding: 0;
}
.search-form {
  display: flex;
  justify-content: space-between; /* распределяет по основной оси */
  align-items: start; /* Вдоль поперечной оси*/
}
.content__list-container {
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  gap: 30px;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__details {
  display: grid;
  height: 530px;
  gap: 26px;
  width: 100%;
}
.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 15px;
}
.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  min-inline-size: 194px;
  block-size: 103px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset {
  /* .search-form__fieldset-title предлагали это сделать через .search-form__fieldset-title. Нужно сделать было отступы*/
  display: flex;
  flex-direction: column;
  gap: 6.5px;
  border: 0;
}
.content__accent {
  opacity: 0.2;
}
.content__card-link {
  text-decoration: none;
  color: #fff;
  line-height: 115%;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}
.content__video-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  max-height: 16.2px;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__checkbox-list {
  display: flex;
  gap: 17px;
}
.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__textfield {
  width: 225px;
  height: 27px;
  gap: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #f90505;
  }
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/*.search-form__pseudo-checkbox:checked не работает */
/* input[type="checkbox"]:checked + span {
  background: #fff;
  opacity:1;
} */  
.search-form__checkbox:checked{
  background: #fff;
  opacity:1; 
 } 

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    content: '';
    min-inline-size: 15px;
    min-block-size: 15px;
    background-color: #fff;
} 
.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.search-form__label:has(:focus-visible:not(:focus)) {
  outline: 1px solid #fff;
}
.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.search-form__submit-button {
  display: flex;
  align-self: end;
  padding: 6px 73.5px;
}
.more-button {
  padding: 6px 142px;
}
.search-form__label:last-of-type :hover {
  color:#f90505;
  cursor: pointer;
}

