*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  /*  font-size: 18px; */
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}
.content {
  display: grid;
  grid-template-columns: 711px 399px;
  place-items: end;
  gap: 30px;
  height: 534px;
  inline-size: 1140px;
  margin: 0;
  padding: 0;
}
.search-form {
  display: flex;
  justify-content: space-between; /* распределяет по основной оси */
  align-items: start; /* Вдоль поперечной оси*/
}
.content__list-container {
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  gap: 30px;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__details {
  display: grid;
  height: 530px;
  gap: 26px;
  width: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 196px;
  height: 102px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*.search-form__fieldset-title {
}*/
.search-form__fieldset {
  /* предлагали это сделать через .search-form__fieldset-title. Нужно сделать было отступы*/
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}
.content__accent {
  opacity: 0.2;
}
.content__card-link {
  text-decoration: none;
  color: #fff;
   line-height:115%;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-transform: uppercase;
}
.content__video-card {
display: flex;
justify-content: space-between;
align-items: start;
/* overflow: ; */
}
.content__video-card-title {
  flex-grow: 1;
  /* white-space: nowrap;  */
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__video-card-description{
  display: flex;
  flex-grow: 1;
}
/* .content__list-item{
  display: flex;

} */